body{
  margin: 0px;
  background-color: #138496;
  font-size: 16px;
}
#nav-horizontal{
    top:0;
    left:0;
	  position: fixed;
    width:100%;    
    box-shadow: 0 2px 2px #d3eae7;
    z-index: 9999;
}

#panel{
  margin-top: 70px;
}
h3{
  text-align: center;
}
/* input label */
label{
  font-size: 20px;
}
#hr{
  border: 1px solid red;
}
#list p{
  color: red;
  font-size: 20px;
}
#alert{
  font-size: 20px;
  text-align: center;

}

/* About Style */
#panel-font h1{
  text-align: center;
}
#panel-font p{
  text-align: justify;
}

/* footer */
#footer_p{
  text-align: center;
  color: red;
}
